@charset "UTF-8";

body {
  background-color: #ffe;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: red;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 34px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}
p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

	.fa-twitter {
    background: #1E90FF;
    color: white; }

  .fa-github {
    background: #24A159;
    color: #fff; }

  .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    max-height: 70%;
    text-align: center;
    text-decoration:
    none; border-radius: 15%;
    align-items: center;
    justify-content: center; }

/* Contact form style */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

input::placeholder, textarea::placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
  font-weight: bold;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
  font-weight: bold;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: black;
  font-weight: bold;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: black;
  font-weight: bold;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
  font-weight: bold;
}

body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  color: black;
  font-weight: bold;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 400px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 370px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: black;

  border: solid 1px black;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #24A159;
  color: black;
  font-weight: bold;
}

textarea {
  width: 370px;
  max-width: 400px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px black;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #24A159;
  color: black;
}

#submit {
  width: 402px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  color: black;

  outline:none;
  cursor: pointer;

  border: solid 1px black;
  border-top: none;
}

#submit:hover {
  color: black;
}

@media only screen and (min-width:700px) and (max-width:995px)
{
  #wrapper
  {
    width: 100%;
    display: flex;
    position: relative;
    float: none;
  }

}
