@charset "UTF-8";

body {
  background-color: #ffe;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: red;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 34px;
  text-align: left;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 120px;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: red;
  text-align: left;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

.h3-red {
  font-family: 'Inter', sans-serif;
  color: red;
  font-weight: bold;
  font-size: 28px;
  text-align: left;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}
p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: var(--main-white);
}
a:link {
  text-decoration: none;
  color: #000;
}
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #06e;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
}

/*  New Navigation */

body h1 > span {
  text-transform: none;
  opacity: 0.5;
  font-weight: 300;
  font-size: 12px;
}
body input + label {
  position: fixed;
  top: 40px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}
body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  transition: 0.5s;
}
body input + label span:first-child {
  top: 3px;
}
body input + label span:last-child {
  top: 16px;
}
body label:hover {
  cursor: pointer;
}
body input:checked + label span {
  opacity: 0;
  top: 50%;
}
body input:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
body input:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
body input ~ nav {
  background-color: transparent; 
  position: fixed;
  top: 0;
  left: 50%;
  width: 60%;
  height: 80px;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
}
body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
}
body input ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 20px;
}
body input:checked ~ nav {
  height: 50%;
  transition-delay: 0s;
}
body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.5s;
}

/* Image Grid  */

/* image grid using no media queries */
.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {

.img-grid {
  grid-template-columns: 1fr;
  }
}

.image {
  height: auto;
  max-width: 400px;
  object-fit: cover;

}

/* Socials */

.fa-twitter {
  background: #ffe;
  color: #000; }

.fa-github {
  background: #ffe;
  color: #000; }

.fa {
  padding: 5px;
  font-size: 20px;
  width: 20px;
  max-height: 70%;
  text-align: center;
  text-decoration:
  none; border-radius: 15%;
  align-items: center;
  justify-content: center;
  }

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.img-1 {
  max-width: 400px;
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.img-2 {
  max-width: 400px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

/* Contact form styles */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

input::placeholder, textarea::placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #BF6EE0;
  font-size: 0.875em;
  font-weight: bold;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #BF6EE0;
  font-weight: bold;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: black;
  font-size: 0.875em;
  font-weight: bold;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: black;
  font-size: 0.875em;
  font-weight: bold;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: black;
  font-weight: bold;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: black;
  font-weight: bold;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: black;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: black;
  font-weight: bold;
}

body {
  font-family: 'Lato', sans-serif;
  background: #fff;
  color: black;
  /* font-weight: bold; */
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 400px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 370px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: black;

  border: solid 1px black;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #24A159;
  color: black;
  font-weight: bold;
}

textarea {
  width: 370px;
  max-width: 400px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;
  outline: none;

  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px black;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #24A159;
  color: black;
}

#submit {
  width: 402px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  color: black;

  outline:none;
  cursor: pointer;

  border: solid 1px black;
  border-top: none;
}

#submit:hover {
  color: black;
}

@media only screen and (min-width:700px) and (max-width:995px)
{
#wrapper {
  width: 100%;
  display: flex;
  position: relative;
  float: none;
  }

}
